.loginContainer {
    text-align: center;
    opacity: 1;
    margin: auto;
    padding: 20px;
    width: 300px;
    height: auto;
    border: 1px solid rgba(29, 28, 28, 0.186);
    border-radius: 50px;
    margin-top: 30px;
  }

  .button{
    margin: auto;
  border-radius: 30px;
  background-color: #ffbd4ad8;
  z-index: 1;
  width: 80px;
  border: 3px solid #422b1eb4;
  box-shadow: black 0px 5px 15px;
  color: #070707cc;
  font-size: small;
  font-weight: lighter;
  padding: 10px;
  position: relative;
  text-align: center;
  }

  .buttonf{
    margin: auto;
  border-radius: 30px;
  background-color: #ffbd4ad8;
  z-index: 1;
  width: 100px;
  border: 3px solid #422b1eb4;
  box-shadow: black 0px 5px 15px;
  color: #070707cc;
  font-size: small;
  font-weight: lighter;
  padding: 10px;
  position: relative;
  text-align: center;
  }

  .buttonf:hover {
    background-color: #3cff00;
  }

  .button:hover {
    background-color: #3cff00;
  }
  .er{
    color:  rgba(10, 100, 54, 0.811);
    font-size: 20px;
  }