.cnt {
    /* padding-top: 10px; */
    width: 580px;
    height: 580px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 20px;
}
.label {
    padding-right: 10px;
}
h1.p{
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: blue;
}
div.c{
    background-color: blueviolet;
}
ul.u{
    display: flex;
}
li.s{
    background-color: black;
}
button.l{
    background-color: rgb(17, 214, 214);
    font-size: 15px;
    color: rgb(0, 0, 0);
}